@config "../tailwind.config.js";
@import 'tailwindcss';

body {
  @apply text-wrap leading-7 tracking-wider;
}
@theme {
  --my-grid: repeat(auto-fit, minmax(300px, 1fr));
}

@layer base {
  h1 {
    @apply text-center text-5xl font-bold uppercase max-sm:text-3xl;
  }
  h2 {
    @apply text-3xl font-semibold max-sm:text-xl;
  }
  h3 {
    @apply text-xl font-semibold max-sm:text-lg;
  }
  P {
    @apply text-lg max-sm:text-base;
  }
}

@layer utilities {
  .bx-shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .div-shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  }
}
